---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <!-- start wpo-page-title -->
  <section class="wpo-page-title">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="wpo-breadcumb-wrap">
            <h2>Galerija slika</h2>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
    <div class="frame-shape-1 wow fadeInLeftSlow" data-wow-duration="1200ms">
      <img src="assets/images/slider/invitation-shape-1.png" />
    </div>
    <div class="frame-shape-2 wow fadeInRightSlow" data-wow-duration="1200ms">
      <img src="assets/images/slider/invitation-shape-2.png" />
    </div>
  </section>
  <!-- end page-title -->

  <!-- start wpo-portfolio-section -->
  <section class="wpo-portfolio-section-s6 section-padding">
    <div class="container-fluid">
      <div class="sortable-gallery">
        <div class="gallery-filters"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="portfolio-grids gallery-container clearfix">
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/naj1.jpg" />
                  <div class="portfolio-content">
                    <h4><a href="portfolio-single.html">Jack & Rose</a></h4>
                    <span>Chaina - Sep 2019</span>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/naj2.jpg" />
                  <div class="portfolio-content">
                    <h4>
                      <a href="portfolio-single.html">Jenifer & Harry</a>
                    </h4>
                    <span>Austria- Jan 2019</span>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/naj3.jpg" />
                  <div class="portfolio-content">
                    <h4>
                      <a href="portfolio-single.html">Miller & Aiyana</a>
                    </h4>
                    <span>Japan - Oct 2020</span>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/naj4.jpg" />
                  <div class="portfolio-content">
                    <h4>
                      <a href="portfolio-single.html">James & Amelia</a>
                    </h4>
                    <span>Canada - May 2024</span>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="middle-content-wrap">
                  <img src="assets/images/portfolio/white.jpg" />
                  <div class="wpo-section-title">
                    <h4 class="poort-text poort-in-right">
                      Naša jedinstvena bajka
                    </h4>
                    <h2 class="poort-text poort-in-right">
                      Nebi bila tako posebna bez naših najdražih...
                    </h2>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/naj5.jpg" />
                  <div class="portfolio-content">
                    <h4><a href="portfolio-single.html">Lucas & Mia</a></h4>
                    <span>Singapore - May 2024</span>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/naj5.jpg" />
                  <div class="portfolio-content">
                    <h4><a href="portfolio-single.html">Jane & Peter</a></h4>
                    <span>Singapore - 16 May 2024</span>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/naj5.jpg" />
                  <div class="portfolio-content">
                    <h4><a href="portfolio-single.html">Miller & Tuna</a></h4>
                    <span>Singapore - 16 May 2024</span>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="img-holder">
                  <img src="assets/images/portfolio/naj5.jpg" />
                  <div class="portfolio-content">
                    <h4>
                      <a href="portfolio-single.html">William & Mone</a>
                    </h4>
                    <span>Singapore - 16 May 2024</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
  <!-- end wpo-portfolio-section -->

  <!-- start wpo-partners-section -->
  <section class="wpo-partners-section section-padding pt-0">
    <h2 class="hidden">Partners</h2>
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="partner-grids partners-slider owl-carousel">
            <div class="grid">
              <img src="assets/images/partners/1.png" />
            </div>
            <div class="grid">
              <img src="assets/images/partners/2.png" />
            </div>
            <div class="grid">
              <img src="assets/images/partners/3.png" />
            </div>
            <div class="grid">
              <img src="assets/images/partners/4.png" />
            </div>
            <div class="grid">
              <img src="assets/images/partners/5.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </section>
</Layout>
